doctype
html(lang="pt-BR")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Gulp Workflow
		link(rel="stylesheet", href="css/main.css")
	body

		.container.index
			h1 Gulp Web App Workflow

			img(src="files/images/gulp.png")

		script(src="js/main.js")